# Ignora tutto dentro data/raw e data/processed, gestita da DVC
data/raw/*
data/processed/*

# MA permetti a Git di vedere i file .dvc (i file di controllo)
!data/raw/*.dvc
!data/processed/*.dvc
.dvc/cache

notebooks/figures/

# Python
__pycache__/
*.py[cod]
.venv/
.env

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store